// Colors
$very-dark-grey: hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 59%);
$color-white: #fff;
$color-red: #dc0000;
// Font settings
$default-font-size: 1.8rem;

$regular-text: 400;
$semi-bold-text: 500;
$bold-text: 700;
