.app__content-box {
  background-color: $color-white;
  z-index: 999;
  padding: 6rem 3rem;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  position: absolute;
  top: 30rem;
  left: 50%;

  @media (max-width: 27em) {
    flex-direction: column;
    width: 80%;
    padding: 2.5rem 0;
    text-align: center;
  }

  .flex-item {
    padding: 0 5rem;

    @media (max-width: 27em) {
      padding: 0;
    }
  }

  .flex-item + .flex-item {
    border-left: dotted 1px $dark-grey;

    @media (max-width: 27em) {
      border-left: none;
    }
  }

  transform: translate(-50%, -30%);

  &-ip {
    @include flexbox;

    @media (max-width: 27em) {
      margin-bottom: 1.5rem;
    }
  }
  &-location {
    @include flexbox;
    @media (max-width: 27em) {
      margin-bottom: 1.5rem;
    }
  }
  &-timezone {
    @include flexbox;
    @media (max-width: 27em) {
      margin-bottom: 1.5rem;
    }
  }
  &-ISP {
    @include flexbox;
  }

  &-box-header {
    color: $dark-grey;
    text-transform: uppercase;
    font-weight: $semi-bold-text;
    font-size: $default-font-size;
    letter-spacing: 1px;

    &-text {
      font-weight: $bold-text;
      font-size: 2.2rem;
      word-wrap: normal;
    }
  }
}
