*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // THis defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px

  @media (max-width: 27em) {
    font-size: 50%;
  }
}

#map {
  height: 70.5vh;
  position: relative;

  @media (max-width: 27em) {
    height: 60vh;
  }
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  $regular-text: 400;
  position: relative;

  input {
    font-size: inherit;
    font-weight: inherit;
  }
}
